<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <script src="/js/jquery.min.js"></script>
    <!--
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
  -->
    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css"> -->

    <!-- Latest compiled and minified JavaScript -->
    <!--
    <script src="/css/bootstrap/js/bootstrap.min.js"></script>
  -->
    <title>
      Loco Motive - How Fast?
    </title>
    <script type="text/javascript">
      $(document).ready(function(){
        setInterval(function(){
          $.get("/results", function(data){
            console.log(data);
            results = JSON.parse(data)
            $(".velocity").html(results.Velocity+" KPH    "+Math.ceil(results.Velocity/1.609344)+" MPH");
          })
        }, 2000)
      })
    </script>
    <style type="text/css">
    body { font-size: 62.5%; }
      .wrapper *{
        font-family: "Arial", sans-serif;
        width: 420px;
        margin: 0 auto;
        text-align: center;
        font-size: 10em !important;

      }
      h1{
        font-weight:300;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <h3>
        Current Train Velocity
      </h3>
      <h1 class="velocity">
        <%= @results["Velocity"] %> KPH
        <br>
        <%= (@results["Velocity"].to_f/1.609344).to_i %> MPH
      </h1>
    </div>
  </body>
</html>
